.navigation {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}

.navigation h2 {
    letter-spacing: normal;
}

.navigation ul li {
    color: #DB0000;
    cursor: pointer !important;
}

.navigation ul li a {
    letter-spacing: normal;
}

.navigation ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    position: relative;
    bottom: 2px;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: 0.15s all;
}

.navigation ul li:hover a::after {
    width: 100%;
}

.activeLink::after {
    content: '';
    display: block;
    width: 100% !important;
    height: 2px;
    background: red;
    position: relative;
    bottom: 2px;
    left: 0;
    right: 0;
    cursor: pointer;
}

.openIcon {
    position: relative;
    transform: rotate(0);
    transition: 0.1s all;
}

.openIconActive {
    transform: rotate(180deg);
}